.app > .container > .tv-lightweight-charts {
  /* Height of chart (vh or px) */
  height: 50vh !important;
}

/* Width of the chart */
.container {
  width: 50%;
}

.loader {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: rgb(241, 242, 243);
}

.dropdown-box {
  margin-top: -5px;
  margin-left: 2px;
  max-height: 105px;
  overflow: auto;
  width: 200px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.dropdown-icon {
  width: 20px;
  height: 20px;
}

.pair-list {
  padding: 5px 10px;
}

.interval-filter {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

.interval-filter > div {
  padding: 5px 20px;
}

.mins {
  border-radius: 5px 0 0 5px;
}

.mos {
  border-radius: 0 5px 5px 0;
}

.interval-filter > div:hover {
  background-color: rgb(56, 55, 55);
}
